{{!-- /products/:id/edit --}}

<h1>Products Home Page / PUT / edit product</h1>

<form action="/products/{{editProduct.name}}/edit?_method=PUT" method= "post">
  Name : <input type='text' name='name' value= {{editProduct.name}}><br>
  Price : <input type="text" name ='price' ><br>
  Inventory : <input type="text" name= 'inventory'><br>
  <input type="submit" value= 'Edit'><br>
</form>
<form method="POST" action="/products/{{editProduct.name}}/edit?_method=DELETE">
  <button type="submit">Delete</button>
</form>






<br>
<br>

{{>footer}}