{{!-- /products/:id/edit --}}
<h1>Edit Products / PUT / Delete</h1>

<form action="/products/{{editProduct.name}}/edit?_method=PUT" method= "post">
  Name : <input type='text' name='name' value= {{editProduct.name}}><br>
  Price : <input type="text" name ='price' ><br>
  Inventory : <input type="text" name= 'inventory' ><br>
  <input type="submit" value= 'Edit'><br>
</form>
<form method="POST" action="/products/{{editProduct.name}}/edit?_method=DELETE">
  <button type="submit">Delete</button>
</form>

<a href="http://localhost:3000/products">List All Products</a>

<br>
{{>footer}}