{{!-- /products/new --}}
<h1>Create New Product / POST/ INSERT</h1>

<div class="collection">
  <form action="" method="POST">
    Name : <input type="text" name='title'><br>
    Price : <input type="text" name= 'body'><br>
    Inventory : <input type="text" name= 'author'><br>
    <input type="submit" value='Submit'>
  </form>
</div>

<a href="http://localhost:3000/products">List All Products</a>

{{>footer}}