{{!-- /products/new --}}
<link rel="stylesheet" href="styles.css">
<h1>Products Home Page / POST / create new product</h1>
{{!-- handlebar comments, not visible in the inspector --}}
<form action="" method= "post">
  Name : <input type='text' name='name'><br>
  Price : <input type="text" name ='price'><br>
  Inventory : <input type="text" name= 'inventory'><br>
  <input type="submit" value= 'Submit'>
</form>

<!--this comment is visible in the inspector -->
<br>
<br>

<a href="http://localhost:3000/products">List All Products</a>

{{>footer}}