{{!-- /products/:id --}}

<h1>Display Specific Product</h1>

<div class="collection">
  <ul class='oneProduct'>

      <br>
      <li>Id# : {{oneProduct.id}}</li>
      <li>Name : {{oneProduct.name}}</li>
      <li>Price : {{oneProduct.price}}</li>
      <li>Inventory : {{oneProduct.inventory}}</li>
      <br>

  </ul>
</div>

{{>footer}}