<h1>Choose Your Route</h1>
{{!-- handlebar comments, not visible in the inspector --}}
<a href="http://localhost:3000/products">Products</a>
<a href="http://localhost:3000/articles">Articles</a>

<!--this comment is visible in the inspector -->
<br>
<br>

{{>footer}}