<h1>Choose Your Route</h1>
{{!-- handlebar comments, not visible in the inspector --}}
<button>Products</button>
<button>Articles</button>

<!--this comment is visible in the inspector -->
<br>
<br>

{{>footer}}