{{!-- /products/:id/edit --}}

<h1>Products Home Page / PUT / edit product</h1>

<form action="" method= "put">
  Name : <input type='text' name='name'><br>
  Price : <input type="text" name ='price'><br>
  Inventory : <input type="text" name= 'inventory'><br>
  <input type="submit" value= 'Submit'>
  <input type='delete' value='Delete'>
</form>


<br>
<br>

{{>footer}}