
<h1>Display Specific Article/ :title</h1>

<div class="collection">
  <ul class='oneArticle'>

      <br>
      <li>Title : {{oneArticle.title}}</li>
      <li>Body : {{oneArticle.body}}</li>
      <li>Author : {{oneArticle.author}}</li>
      <li>URL Title : {{oneArticle.urlTitle}}</li>
      <br>

  </ul>
</div>

<a href="http://localhost:3000/articles">List All Articles></a>
<br>
{{>footer}}