
<h1>Edit Articles / PUT / Delete</h1>

<form action="/articles/{{editArticle.title}}/edit?_method=PUT" method= "post">
  Title : <input type='text' name='title' value= {{editArticle.title}}><br>
  Body : <input type="text" name ='body' ><br>
  Author : <input type="text" name= 'author' ><br>
  <input type="submit" value= 'Edit'><br>
</form>
<form method="POST" action="/articles/{{editArticle.title}}/edit?_method=DELETE">
  <button type="submit">Delete</button>
</form>

<a href="http://localhost:3000/articles">List All Articles</a>

<br>
{{>footer}}