
<h1>All Articles List </h1>

<div class="collection">
  <ul class='product-list'>
    {{#each articles}}
      <br>
      <li>Title : {{title}}</li>
      <li>Body : {{body}}</li>
      <li>Author : {{author}}</li>
      <li>URL Title : {{urlTitle}}</li>
      <br>
    {{/each}}
  </ul>
</div>

<a href="http://localhost:3000/articles/new">Create New Article</a>
<br>
{{>footer}}