<h1>Create new article Titles / POST/ create new article</h1>

<form action="" method= "post">
  Title : <input type='text' name='title'><br>
  Body : <input type="text" name ='body'><br>
  Author : <input type="text" name= 'author'><br>
  <input type="submit" value= 'Submit'>
</form>


<a href="http://localhost:3000/articles">List All Articles</a>
<br>
{{>footer}}