{{!-- /articles/new --}}
<h1>Create New Article / POST/ INSERT</h1>

<div class="collection">
  <form action="" method="POST">
    Title : <input type="text" name='title'><br>
    Body : <input type="text" name= 'body'><br>
    Author : <input type="text" name= 'author'><br>
    <input type="submit" value='Submit'>
  </form>
</div>