{{!-- /articles/new --}}
<h1>Create New Article / POST/ INSERT</h1>

<div class="collection">
  <form action="" method="POST">
    Image URL : <input type="text" name='image'><br>
    Title : <input type="text" name='title'><br>
    Body : <textarea name="body" id="body" cols="100" rows="10"></textarea><br>
    Author : <input type="text" name= 'author'><br>
    <input type="submit" value='Submit'>
  </form>
</div>

<a href="http://localhost:3000/articles">List All Articles</a>

{{>footer}}